@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.frame{
  height: 600px;
  width: 357px;
}

.window {
  height: 530px;
  width: 357px;
}

.bottomnav {
  height: 70px;
  width: 357px;
}

.head {
  height : 150px;
  width: 357px;
}

.title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

.bottomwindow {
  width: 330px;
  height: 90px;
}

.selection {
  width: 330px;
  height: 30px;
}

.selectionwindow {
  width: 330px;
  height: 200px;
}